HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
resources/serviceAccountKey.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

# Arquivos de log
*.log

# Arquivos de configuração local
*.env

# Arquivos de teste
/test-output/

# Arquivos Gradle
gradlew
gradlew.bat
gradle/

# Arquivos de pacote
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Arquivos temporários
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Arquivos de banco de dados
*.db

# Arquivos de segurança
*.jks
*.keystore